@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
  
  body {
    min-width: 310px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #4f4f4f;
    background-color: #ffffff;
    line-height: 1.5;
  }
  
  #navbar {
    position: fixed;
    min-width: 310px;
    top: 0;
    left: 0;
    height: 100%;
    border-right: solid;
    border-color: #444444;
  }
  
  header {
    color: #000000;
    text-align: center;
    margin: 10px;
    font-size: 1.8em;
  }
  
  #main-doc header {
    text-align: left;
    margin: 0;
  }
  
  #main-doc {
    position: absolute;
    margin-left: 330px;
    padding: 20px;
  }
  
  #navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  #navbar li {
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
  }
  
  .nav-link {
    display: block;
    padding: 10px 35px;
    color: #4f4f4f;
    text-decoration: none;
  }
  
  #navbar a:hover {
    color: #000000;
  }
  
  section article {
    margin: 15px;
    color: #4f4f4f;
    font-size: 1em
  }
  
  section li {
    margin-top: 15px;
  }
  
  code {
    display: block;
    text-align: left;
    word-wrap: normal;
    word-break: normal;
    position: relative;
    white-space: pre-line;
    line-height: 2;
    background-color: #f0f0f0;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
  }
  
  #Reference li a{
    color: #000000;
    text-decoration: none;
  }
  
  #Reference li a:hover {
    color: #4f4f4f;
  }
  
  @media only screen and (max-width: 800px) {
    #navbar {
      position: absolute;
      top: 0;
      padding: 0;
      margin: 0;
      width: 100%;
      max-height: 300px;
      border: none;
      z-index: 1;
      border-bottom: 2px solid;
    }
  
    #navbar ul {
      border: 1px solid;
      height: 230px;
    }
  
    #main-doc {
      position: relative;
      margin-left: 0;
      margin-top: 295px;
    }
  }
  
  @media only screen and (max-width: 400px) {
    #main-doc {
      margin-left: -10px;
    }
  
    code {
      width: 100%;
      margin-left: -20px;
      padding: 15px;
      padding-left: 10px;
      padding-right: 40px;
      min-width: 233px;
    }
  }
  